.buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.buttons button {
    background-color: #f04e3c;
    border: none;
    padding: 10px 20px;
    margin-left: 0px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.slides-enter {
    position: absolute;
    opacity: 0;
    transform: translateX(100%);
    overflow: hidden;
    z-index: 2;
}

.slides-enter-active {
    position: absolute;
    opacity: 1;
    transform: translateX(0);
    transition: opacity 2s, transform 2s;
    overflow: hidden;
    z-index: 2;
}

.slides-exit {
    opacity: 1;
    transform: translateX(0);
    overflow: hidden;
    z-index: 1;
}

.slides-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 2s, transform 2s;
    overflow: hidden;
    visibility: hidden;
    z-index: 1;
}